<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Map
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>

  <div #map id="map"></div>

  <ion-item>
    <ion-input placeholder="Ingrese coordenadas de inicio (latitud, longitud)" [(ngModel)]="ubicacionInicio"></ion-input>
  </ion-item>

  <ion-item>
    <ion-input placeholder="Ingrese coordenadas de destino (latitud, longitud)" [(ngModel)]="ubicacionDestino"></ion-input>
  </ion-item>

  <ion-button (click)="buscarRuta()">
    Calcular Ruta
  </ion-button>

  <ion-button fill="clear" class="custom-button" (click)="agregarLugar()">
    <ion-icon name="add-circle"></ion-icon>
  </ion-button>

</ion-content>