<ion-header>
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<ion-content class="auth-form">
  <ion-grid>
    <ion-row>
      <br>
      <ion-col align-self-center>
        <ion-button [routerLink]="['/login']" size="large" expand="block" Default>Ingresar</ion-button>
        <br>
        <br>
        <br>
        <br>
        <br>
        <ion-button [routerLink]="['/registration']" size="large" expand="block" color="success">Registrarse</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>