<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{ listaregister.nombre }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-card>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let lugar of lugaresFavoritos">
        <ion-thumbnail slot="start">
          <ion-icon size="large" name="person"></ion-icon>
        </ion-thumbnail>
        <ion-label>{{ lugar }}</ion-label>
        <ion-button fill="clear" class="location" (click)="irAdestino(lugar)">
          <ion-icon name="navigate"></ion-icon>
        </ion-button>
        <ion-button fill="clear" class="location delete" (click)="confirmarEliminarLugar(lugar)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
    
  </ion-card-content>
</ion-card>