ion-item {
    --padding-start: 0;
  }
  .custom-button {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999; /* Ajusta el valor de z-index según sea necesario para que esté adelante de todo */
  }

  .location {
    position: absolute;
    top: -10;
    left: 60px;
    z-index: 999; 
  }